// app global css
.main-container
  width: 100%
  padding: 3em
.leaderBoard
  background: white
  color: #fff
  width: 100%
.currentMatch
  background: white
  width: 100%
.about
  background: white
.arl_toolbar
  background-image: url('../assets/rl.jpg') !important
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 270px
  margin: 0
  h2
    margin:0
    text-transform: uppercase
    font-family: 'Montserrat'
    font-weight: 400

.toolbar_overlay
  background: rgba(255,255,255 .6)
  height: 270px !important
.cap_flex
  border-color: #11abdb
  border-style: solid
  border-width: 2px 4px 4px 4px
  border-radius: 5px
  h5
    margin-top: 0 !important
    margin-bottom: 0 !important
.loginModal
  padding: 20px
  width: 400px
